body{
    background-image: url(../images/GeH6x2qbkAA6hQv.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #a1ffc2;
}

.bg_gray{
    background-color: rgba(96, 96, 96, 0.6);
}
.navbar-light .navbar-brand{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgb(128, 93, 255);
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(76, 255, 82);
}
.active{
    background-color: rgb(210, 142, 255);
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: rgb(196, 132, 255);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgb(106, 47, 255);
}
.contact{
    list-style: none;
    padding-left: 0;
}
.contact ul li{
    display: inline-block;
    font-size: 30px;
    /*padding: 0 20px;*/
}
.contact ul li a{
    color: rgb(133, 101, 248);
}
.contact ul li a:hover{
    color: rgb(137, 47, 255);
}

